.container-fluid {
  margin-top: 1rem;
  max-width: 900px;
}

.title {
  font-size: 1.9rem;
}

.version {
  color: #999;
}

.unit {
  font-size: .8em;
  color: #bbb;
}

td input[type="checkbox"] {
  margin-top: 5px;
}

tfoot {
  font-weight: bold;
}

.footer-text {
  padding-top: 1rem;
  text-align: center;
  color: #ccc;
  font-size: .9rem;
}
