@import 'colors';
@import 'variables';

.analysis {
  position: relative;
  list-style: none;
  border-color: $color-light-grey;
  border-style: solid;
  border-width: 1px 0 0;
  padding: $margin-medium 0;
  font-weight: 600;

  &:last-child {
    border-bottom-width: 1px;
  }
}

.analysis__status-icon--pending {
  color: $color-yellow;
}

.analysis__status-icon--failed {
  color: $color-red;
}

.analysis__status-icon--succeeded {
  color: $color-green;
}

.analysis__status-icon-container {
  display: inline-block;
  width: 2.5rem;
}

.analysis__message {
  float: right;
  margin-left: 1.5rem;
  color: darken($color-light-text, 5%);
  font-weight: normal;
}

.analysis__message--error {
  color: $color-red;
}

.analysis__message--success {
  color: $color-green;
}
