@import 'colors';

html {
  font-size: 67%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-white;
  color: $color-text;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

*,*:before,*:after {
	box-sizing: border-box;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: lighten($color-link, 10%);
    text-decoration: none;
  }
}

.container-fluid {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1000px;
}

@media screen and (max-width: 480px) {
  .container-fluid {
    padding: 0 .75rem;
  }

  .hide-mobile {
    display: none;
  }
}
