@import "variables/colors";
@import "variables/variables";
@import "shared/buttons";
@import "shared/inputs";

html {
  font-size: 67.5%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-white;
  color: $color-text;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.container {
  padding: 0 $margin-medium;
  margin: 0 auto;
  max-width: 100rem;
}

.hide-desktop {
  display: none;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 $margin-small;
  }

  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: initial;
  }
}
