@import 'colors';
@import 'variables';

$header-height: 8rem;

.header {
  background-color: $color-light-grey;
  color: $color-light-text;
  height: $header-height;
  margin-bottom: $margin-medium;
}

.header__title {
  display: inline-block;
  margin: 0;
  height: $header-height;
  line-height: $header-height;
  font-size: 3rem;
  font-weight: 600;
}

.header__logo {
  opacity: 0.8;
  position: relative;
  display: none;
  width: 3.4rem;
  height: 3.4rem;
  fill: lighten($color-light-text, 12%);
  stroke: $color-light-text;
  top: 0.7rem;
  margin-right: 0.2rem;
}

.header__quote {
  float: right;
  margin: 0;
  height: $header-height;
  line-height: $header-height;
}

.header__navigation {
  display: inline-block;
  margin-left: $margin-large;
}

.header__navigation-item {
  position: relative;
  top: -0.4rem;
  display: inline-block;
  color: darken($color-light-text, 18%);
  font-size: 1.5rem;
  height: $header-height;
  line-height: $header-height;
  margin-left: $margin-large;

  &:hover,
  &:focus {
    color: darken($color-light-text, 18%);
    text-decoration: underline;
  }

  &::last-child {
    margin-right: 0;
  }
}
