@import 'colors';

$library-list-row-height: 3.5rem;

.library-list__search {
  font-size: 1.5rem;
  margin: .5rem 0 1.5rem 0;
  border-radius: 0;
  box-shadow: 0 0 0 $color-white;
  border: 2px solid darken($color-white, 15%);
  padding: .7rem .9rem;
  width: 100%;

  &:focus {
    outline: none;
    border: 2px solid darken($color-white, 25%);
  }
}

.library-list {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0.8rem;

  th,
  td {
    text-align: left;
    border-bottom: 1px solid darken($color-white, 10%);

    input[type="checkbox"] {
      margin-top: .5rem;
    }
  }

  .sortable {
    &:hover {
      cursor: pointer;
      color: lighten($color-text, 10%);
    }
  }

  .sort-icon {
    font-size: .9em;
    margin-left: .5rem;
  }

  tr {
    height: $library-list-row-height;
    line-height: $library-list-row-height;
  }

  tfoot {
    font-weight: bold;
  }
}
