@import '../variables/colors';

.version {
  color: lighten($color-text, 25%);
}

.unit {
  font-size: .8em;
  color: lighten($color-text, 30%);
}

@media screen and (max-width: 500px) {
  .unit {
    margin-left: -2px;
  }
}
