@import '../variables/colors';
@import '../variables/variables';

$library-list-row-height: 3.7rem;

.library-list {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.2rem;

  th,
  td {
    text-align: left;
    border-bottom: 1px solid $color-light-grey;

    input[type="checkbox"] {
      margin-top: .5rem;
    }
  }

  th {
    font-weight: 600;
  }

  tr {
    height: $library-list-row-height;
    line-height: $library-list-row-height;
  }
}
