@import '../variables/colors';
@import '../variables/variables';

.analysis-creator {
  display: flex;
  margin-bottom: $margin-medium;
}

.analysis-creator__input {
  margin-right: $margin-x-small;
}
