@import "../variables/variables";
@import "../variables/colors";

.analyzer-notice {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: $margin-x-small;
  padding: $margin-small;
  border-radius: 3px;
  color: lighten($color-text, 5%);
  border: 1px solid $color-light-grey;
  background-color: lighten($color-light-grey, 5%);
}

.analyzer-notice__button {
  margin-top: $margin-small;
}
